.feed {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.feed__tweet {
    list-style-type: none;
}

.feed__newTweet {
    display: flex;
    height: 20vh;
}

.newTweet__avi {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: pink;
}

.newTweet__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.newTweet__content {
    border: 0px;
    background: transparent;
    font-size: large;
}