.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    flex: 0.3;
    max-width: 250px;
    /* width: 10px; */
    /* width: 30%; */
    /* position: fixed; */

}