.tweet {
    border: 1px solid #657786;
    width: 34rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tweet:hover {
    background-color: rgba(57, 57, 57, 0.458);
}

.tweet__container {
    display: flex;
}

.tweet__components {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.tweet__avi {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: pink;
    margin-right: 7px;
}

.tweet__topLayer {
    display: flex;
    justify-content: space-between;
}

.tweet__content {
    margin-bottom: 10px;
    margin-top: 10px;
}

.tweet__bottomLayer {
    display: flex;
    justify-content: space-between;
}

.tweet__options {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tweet__options:hover {
    cursor: pointer;
    background-color: rgba(81, 174, 250, 0.398);
    /* padding: 5px; */
    /* border-radius: 50%; */
    z-index: 1;
}

.tweet__ellipses {
    color: white;
    /* background-color: #fff; */
    width: 20px;
    height: 15px;
}

.liked {
    color: red;
}